.header
  .header__logo
    %p
      HomeWork App
  .header__search-box
    %input.header__search-box__input-text{name: :text, placeholder: :search, type: :text}
  .header__name-box
    %span
      kuro
  .header__logout
    %button.header__logout__logout-btn{type: :submit}
      %span
        ログアウト