.side-bar
  .side-bar__movies
  = link_to new_movie_path class: 'btn' do
    %span
      movie作成
  .side-bar__main
    - current_user.movies.each do |movie|
      .side-bar__main__image      
        .side-bar__main__image__movie         
        = link_to edit_movie_path(movie.id) do
          %span
          = movie.name
    
