.header {
  height: 90px;
  width: calc(100% - 300px);
  background-color: $blue;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 3px 3px 5px 2px gray;
  &__logo {
    color: #330000;
    font-size: 30px;
    font-weight: bold;
  }
  &__search-box {
    &__input-text {
      display: block;
      height: 30px;
      width: 300px;
      background-color: #FFFFFF;
      padding-left: 5px;
      margin: 10px 0 0 100px;  
    }
    &__btn {
      background-color: $boro;
      margin: 10px 0 0 100px;
      padding: 0 10px;
      border-radius: 5em;
      display: flex;
      &:focus {
        outline: 0;
      }
    }
    &__hand {
      color: $crimson;
      padding: 3px 8px 0 0;
    }
  }
  a {
    text-decoration: none;
    color: #361111;
  }
  &__name-box {
    margin-left: 110px;

  }
}