.movie-form{
  padding-left: 30px;
  &__field {
  margin: 15px;
    label {
      font-size: 20px;
    }
    input {
      height: 40px;
      width: 250px;
      padding-left: 10px;
      margin-left: 43px;
      border: 1px solid;
    }
}
  &__user {
    label {
      font-size: 20px;
    }
    input {
      height: 40px;
      width: 250px;
      padding-left: 10px;
      border: 1px solid;
    }
  }
  &__submit {
    height: 50px;
    width: 100px;
    background-color: $crimson;
    color: $origin;
    border-radius: 5em;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 30px auto;
    cursor: pointer;
  }
  &__result {
    margin: 10px 15px 15px 135px;
    &__box {
      width: 500px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $boro;
      margin-bottom: 10px;
      .add-btn {
        width: 60px;
        font-size: 15px;
        background:  $crimson;
        color: $origin;
        border-radius: 3em;
        text-align: center;
        cursor: pointer;
      }
    }
  }
  &__member {
    display: flex;
    border: 1px solid $boro;
    padding: 20px 0;
    margin: 50px 0;
    &__name-label {
      font-size: 20px;
      padding-left: 10px;
    }
    &__list__lists {
      width: 500px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $crimson;
      margin-left: 42px;
      margin-bottom: 10px;
      .remove-btn {
        width: 60px;
        font-size: 15px;
        background-color: $boro;
        border-radius: 3em;
        text-align: center;
        cursor: pointer;
      }
      .self-btn {
        width: 60px;
        font-size: 15px;
        background-color: #9c9ce4;
        color: $origin;
        border-radius: 3em;
        text-align: center;
      }
    } 

  }
}