* {
  box-sizing: border-box;
}
@import 'mixin';
.container {
  height: 100vh;
  width: calc(100% - 300px);  
  background-color: $boro;
  margin-top: 5px;
  position: fixed;
  top: 90px;
  right: 0;
  &__movie {
    padding-left: 10px;
  }
  &__main-tweet {
    height: 400px;
    width: 800px;
    background-color: $origin;
    padding: 5px 30px 5px;
    margin: 5px auto 40px;
    overflow: scroll;
    @include box-shadow;
    &__contents {
      border: 1px solid $boro;
      padding: 5px; 
      
      &:hover {
        color: $origin;
        background-color: $blue;
        transition: 1s;
      }    
      &__content{
        display: flex;
        justify-content: flex-start;
        &__image {
          padding-right: 5px;
        }
        &__text {
          width: 65%;
          font-style: italic;
          overflow-wrap: break-word;
        }
        &__right-box {
          font-size: 10px;
          height: 100%; 
          padding-top: 10%;        
          margin-left: auto;
          
        }
      }
    }
  }
  &__form {
    height: 130px;
    width: 800px;
    background-color: $origin;
    margin: 0 auto;
    padding: 20px;
    @include box-shadow;
    &__message {
      display: flex;
      position: relative;
      .field_with_errors {
        width: 100%;
      }
      &__comment {
        max-height: 70px;
        min-height: 53px;
        width: 100%;
        min-width: 100%;
        border: thin solid $boro;
        padding-top: 5px;
        padding-left: 10px;
        margin-bottom: 12px;
        
        
      
      }     
      &__right-box {
        position: absolute;
        right: 0;
        &__label {
          display: block;
          height: 100%;
          background-color: $boro;
          &__camera {
            font-size: 30px;
            color: brown;
            line-height: 50px;
            margin: 0 auto;
            padding: 0 10px;
          }
          input {            
            display: none;
          }
        }
      }
    }
    &__submit {
      width: 100px;
      margin: 0 auto;
      background-color: $boro;
      border: thin solid $boro;
      border-radius: 10px;
      &__btn {        
        display: flex;
        padding-left: 6px;
        &__icon {
          color: $origin;
        }
        span {
          padding-left: 5px;
        }
      }      
    }
  }
  &__footer {
    height: 40px;
    width: 100%;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    &__logo {    
      text-align: center;
      line-height: 40px;
    }
  }
}
